body, html {
    height: 100%;
    margin: 0;
}

/* Start of Styling for Nav Section of index.html */
.navContainer {
    padding-top: 30px;
    font-size: 1em;
}

.navLink, .navLink:focus {
    color: white;
    outline: 0;
    text-decoration: none;
}

.navLink:hover {
    color: lightseagreen;
}

.homeNavLinkContainer {
    text-align: left;
}

.navul {
    text-align: right;
    padding-right: 0px;
}

.navli {
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
}


/* Start of Styling for Home Section of index.html */
.homeContainer {
    /* Image is royalty free from Pexels.com */
    background-image: url("images/lighter.jpeg");

    /*default
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */

    /* parrallax */
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* styling for all font in the container */
    color: white;

}

.homeCenter {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%)
        translateY(-50%);
}

.homeTitle {
    font-size: 4em;
}

.homeSubTitle {
    font-size: 2em;
}

.homeBottom {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%)
        translateY(-50%);
}

/* 
For hiddenLink Class, reference .hiddenLink{} 
in Nav Section of main.css
*/

.downArrowButton {
    position: relative;
    border: none;
    background: none;
}

/* End of Home Section */

/* Start of Styling for Bio Section of index.html */
.bioContainer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad40 {
    padding: 40px;
}

.pad20 {
    padding: 20px;
    padding-bottom: 4px;
}

.profileImg {
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}

.secretButton {
    background-color: red;
}

/* End of Bio Section */

/* Start of Styling for Email Section of index.html */
.emailContainer {
    background-color: #282828;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 33%;
    padding-right: 33%;
}

.emailFormTitle {
    text-align: center;
}

.emailForm {
    float: center;
}

/* End of Email Section */

/* Start of Styling for Footer Section of index.html */
.footerContainer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.socialLinks {
    margin: 0;
    padding: 0;
    padding-bottom: 20px
}

.socialIcon {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
